!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #{ site_title }
    meta(name='description', content='#{ site_description }')
    // Add favicon.ico and stylesheets here 
    link( href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css", 
      rel="stylesheet")
    link( href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css", 
      rel="stylesheet")
    !=css('custom')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top( role='navigation' )
      .navbar-header
        a.navbar-brand( href="/" ) #{ site_title }

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          block nav
          li
            a
              i.fa.fa-cog.fa-spin( style='display:none' )

        ul#exchangeRegion.nav.navbar-nav.navbar-right
        
    .container.main

      .row
        #searchFormRegion.col-md-12

      .row
        #searchResultsRegion.col-md-12


    //- Templates

    script#exchangeTmpl(type='text/html')
      li
        a.price_fade(href='#', title='{ timestamp }') USD to BTC: { rate }


    script#searchTmpl(type='text/html')
      form#searchForm.form-inline(action='search')
        input( type='text', name='search', placeholder='Search')
        input( type='text', name='region', placeholder='Region')
        input( type='text', name='category', placeholder='Category')
        button#searchBtn.btn Search!

    

    //- This precompiles the assets since they're being loaded via require.js
    //
      !=js('main')
      !=js('elbow')
      !=js('router')
      !=js('exchange')
      !=js('craigslist')


    !=js( 'require-config' )
    script( src='/static/js/lib/require.js', data-main='main', type='text/javascript' )
    
