!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #{ site_title }
    meta(name='description', content='#{ site_description }')
    // Add favicon.ico and stylesheets here 
    link( href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css", 
      rel="stylesheet")
    link( href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css", 
      rel="stylesheet")
    !=css('custom')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top( role='navigation' )
      .navbar-header
        a.navbar-brand( href="/" ) #{ site_title }

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          block nav
          li
            a
              i.fa.fa-cog.fa-spin( style='display:none' )

        ul#exchangeRegion.nav.navbar-nav.navbar-right
        
    .container.main

      .row
        #searchFormRegion.col-md-12

      .row
        #searchResultsRegion.col-md-12


    //- Templates

    script#exchangeTmpl(type='text/html')
      li
        a.price_fade(href='#', title='{ timestamp }') 
          | $ to <i class='fa fa-btc'/>: { rate }


    script#searchTmpl(type='text/html')
      form#searchForm.form-inline(action='/search', role='form')
        .form-group
          input.form-control( type='text', name='query', placeholder='Search', value='Single speed')
        .form-group
          // FIXME replace w/ select option
          input.form-control( type='text', name='region', placeholder='Region', value='providence')
        .form-group
          // FIXME replace w/ select option
          input.form-control( type='text', name='category', placeholder='Category', value='bik')
        input#searchBtn.btn( type='submit', value='Search!')


    script#searchResultsTmpl(type='text/html')
      .row
        .col-md-12.searchResults

    script#noSearchResultsTmpl(type='text/html')
      .row.searchResult
        .col-md-12
          h2 No results!
    
    script#searchResultItemTmpl(type='text/html')
      .result
        h3
          a( href="{ link }", target='_new' )
            span.title { title } - 
            span.price
              <% if ( ! isNaN(calc_price) ) { %>
              i.fa.fa-btc
              span.btc(title='$ { price }') { calc_price }
              <% } else { %>
              $ { price }
              <% } %>
        p { description }

    //- This precompiles the assets since they're being loaded via require.js
    //
      !=js('main')
      !=js('elbow')
      !=js('router')
      !=js('exchange')
      !=js('craigslist')
      !=js('form')


    !=js( 'require-config' )
    script( src='/static/js/lib/require.js', data-main='main', type='text/javascript' )
    
