doctype html
html(lang='en', data-debug='#{debug}')
  head
    meta(charset='utf-8')
    title #{ site_title }
    meta(name='description', content='#{ site_description }')
    //- TODO Add favicon.ico

    //[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]

    - var cdnjs = "//cdnjs.cloudflare.com/ajax/libs/"

    - if ( local_assets )
      link( href="#{static_asset_dir}bootstrap/dist/css/bootstrap.css", rel="stylesheet")
      link( href="#{static_asset_dir}font-awesome/css/font-awesome.css", rel="stylesheet")
      link( href="#{static_asset_dir}select2/select2.css", rel="stylesheet")
    - else
      link( href="#{cdnjs}twitter-bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
      link( href="#{cdnjs}font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
      link( href="#{cdnjs}select2/3.4.5/select2.min.css", rel="stylesheet")

    //- this one isn't in cdnjs:
    link( href="#{static_asset_dir}select2-bootstrap/select2-bootstrap.css", rel="stylesheet")

    !=css('custom')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top( role='navigation' )
      .container
        .navbar-header
          a.navbar-brand( href="/" ) #{ site_title }

        .collapse.navbar-collapse
          ul.nav.navbar-nav
            block nav
            li
              a
                i.fa.fa-cog.fa-spin( style='display:none' )

          ul#exchangeRegion.nav.navbar-nav.navbar-right
        
    .container.main

      .row
        #searchFormRegion.col-md-12

      .row
        .col-md-12
          #errorMsg.alert.alert-warning.alert-dismissable.fade
            button(type="button" class="close" aria-hidden="true") &times;
            span.errorText


      .row
        #searchResultsRegion.col-md-12


    //- Templates

    script#exchangeTmpl(type='text/html')
      li
        a.price_fade(href='#', title='Last updated: { last_refresh_ts() }', 
          data-toggle='tooltip', data-placement='bottom') 
          | $ to <i class='fa fa-btc'/>: { (1/rate).toFixed(2) }


    script#searchTmpl(type='text/html')
      form#searchForm.form-inline(action='/search', role='form')
        .form-group.col-xs-4
          label.sr-only(for="query") Search query
          input.form-control.input-lg( type='text', name='query', placeholder='Search')

        .form-group.col-xs-3
          label.sr-only(for="region") Region
          select.form-control.input-lg(name='region', data-placeholder='Location')
            <% for (state in regions) { %>
            option(disabled) { state }
            <% region = regions[state] %>
            <% for ( i in region ) { %>
            option(value='{ region[i].region }') { region[i].name }
            <% } } %>

        .form-group.col-xs-3
          label.sr-only(for="category") Listing category
          select.form-control.input-lg(name='category', data-placeholder='Category')
            <% for ( i in categories ) { %>
            option(value='{ categories[i].cat }') { categories[i].title }
            <% } %>
        input#searchBtn.btn.btn-lg( type='submit', value='Search!')


    script#searchResultsTmpl(type='text/html')
      .row
        .col-md-12.searchResults

    script#noSearchResultsTmpl(type='text/html')
      .row.searchResult
        .col-md-12
          h2 No results!
    
    script#doSearchTmpl(type='text/html')
      .row.searchResult
        .col-md-12
          h2 Perform a search above to start

    script#searchResultItemTmpl(type='text/html')
      .result.fade.in
        h3
          a( href="{ link }", target='_new' )
            span.title { title } - 
            span.price
              <% if ( ! isNaN(calc_price) ) { %>
              i.fa.fa-btc 
              span.btc(title='$ { price }') { calc_price }
              <% } else { %>
              $ { price }
              <% } %>
        p { description }

    //- This precompiles the assets since they're being loaded via require.js
    //
      !=js('main')
      !=js('elbow')
      !=js('router')
      !=js('exchange')
      !=js('craigslist')
      !=js('form')

    !=js( 'require-config' )
    - if ( local_assets )
      script( src='#{static_asset_dir}/requirejs/require.js', data-main='main', type='text/javascript' )
    - else
      script( src='#{cdnjs}require.js/2.1.10/require.min.js', data-main='main', type='text/javascript' )
    
